<% include partials/header %>

<div class="container aboutContainer">
    <h2>Resume</h2>
   <div class="row">
  <div class="col-12">
        <h4>Career Objectives</h4>
        <p></p>
        <ul></ul>
        <h4>Achievments</h4>
        <p></p>
        <ul></ul>
        <h4>Education</h4>
        <p></p>
        <ul></ul>
        <h4>Projects(Academic/Personal)</h4>
        <p></p>
        <ul></ul>
        <h4>Work Experience</h4>
        <p></p>
        <ul></ul>
        <h4>Skills Interests</h4>
        <p></p>
        <ul></ul>
  </div>
</div>
</div>

<% include partials/footer %>