<% include partials/header %>

<div class="container maincontainer">
  <img src="/sharath.jpg" class="img-fluid float-right" alt="Responsive image">
  <h2>Brief Intro</h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum id lacus eget tempor. Mauris a mi maximus, ultricies quam vitae, euismod ipsum. Nam pulvinar eu tellus hendrerit pellentesque. Suspendisse ultrices bibendum justo quis varius. Maecenas at nibh enim. Nunc ultrices velit quis tellus ullamcorper molestie. Curabitur gravida lacus ut semper vehicula. Fusce interdum odio nunc, et mattis est dictum non. In mattis urna ut elit euismod mollis. Fusce commodo iaculis pharetra. Quisque gravida vulputate consequat. Nullam ac lectus efficitur odio dapibus finibus. Nam ipsum velit, sodales non consequat sed, vestibulum ut velit. Nullam quis felis nec purus rhoncus aliquet. Etiam eget tincidunt magna. Praesent pulvinar vitae nisl eget auctor.
<hr>
<h2>Beliefs</h2>
<!--<p>Donec tristique, quam quis scelerisque elementum, felis arcu dictum turpis, et placerat mi mi porta quam. Ut turpis libero, mattis nec risus ac, facilisis ultricies lacus. Etiam porttitor mauris ut quam convallis, non finibus quam vestibulum. Duis dapibus turpis vitae dolor semper accumsan. Aenean consequat fermentum vestibulum. Mauris ut ipsum justo. Nunc elementum diam in nulla faucibus, nec imperdiet risus vulputate. Aenean ac velit in lectus laoreet facilisis. Nunc sit amet pharetra mi, ac tincidunt urna. Aliquam ac orci vitae eros sodales vehicula mollis ut nisl. Cras eu urna ipsum. Sed sit amet sagittis lectus. Nam interdum vel nulla vitae egestas. Integer euismod ut risus id posuere. Quisque volutpat diam ac nunc finibus ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>-->
<ul>
  <li>In ut turpis vitae nulla luctus ultricies vitae eu est.</li>
  <li>Aliquam rutrum mauris id ex viverra, at ultrices elit tincidunt.</li>
  <li>Integer euismod velit non turpis tempor, eleifend aliquam eros mollis.</li>
  <li>Vestibulum condimentum mi ac vehicula ultrices.</li>
  <li>Curabitur non arcu sit amet lorem euismod luctus nec vitae magna.</li>
  <li>Duis ac est et lectus gravida tincidunt eu sed odio.</li>
</ul>
</div>
          <% include partials/footer %>
